<footer class="global footer">
    <div class="parsys iparsys footerpar">
        <div class="section">
            <div class="new"></div>
        </div>
        <div class="iparys_inherited">
            <div class="parsys iparsys footerpar">
                <div class="footer section">


                    <div class="footer-inner clearfix">
                        <div class="site-index">
                            <a href="#" class="collapsible-handler cta-site-index opened"
                               title="Site Index"><span class="icon"></span>Site Index</a>
                        </div>
                    </div>

                    <div class="site-index-content collapsible-content">
                        <div class="collapsible-content-inner clearfix">

                            <div class="cell1 odd">

                                <!-- The changes is here -->
                                <h4>Quick Links</h4>
                                <ul class="collapsible-section">
                                    <li><a href="#">Manage My Account</a></li>
                                    <li><a href="#">Pay My Bills</a></li>
                                    <li><a href="#">Recontract with
                                        StarHub</a></li>
                                    <li>
                                        <a href="#">Top-up
                                            Prepaid Card</a></li>
                                </ul>

                                <!-- The changes is here -->
                                <h4><a href="#">Rewards</a></h4>
                                <ul class="collapsible-section">
                                    <li><a href="#">Check &amp; Redeem My Points</a></li>
                                </ul>
                            </div>

                            <div class="cell1 even">

                                <!-- The changes is here -->
                                <h4><a href="#">Promotions</a></h4>
                                <ul class="collapsible-section">

                                </ul>

                                <!-- The changes is here -->
                                <h4><a href="#">Mobile</a></h4>
                                <ul class="collapsible-section">
                                    <li><a href="#">Postpaid
                                        Plans</a></li>
                                    <li><a href="#">Prepaid
                                        Plans</a></li>
                                    <li><a href="#">Roaming</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="cell1 odd">

                                <!-- The changes is here -->
                                <h4><a href="#">Broadband</a></h4>
                                <ul class="collapsible-section">
                                    <li><a href="#">Fibre
                                        Broadband</a></li>
                                    <li><a href="#">Cable
                                        Broadband</a></li>
                                    <li><a href="#">Mobile
                                        Broadband</a></li>
                                    <li><a href="#">Smart Home</a>
                                    </li>
                                </ul>

                                <!-- The changes is here -->
                                <h4><a href="#">TV</a></h4>
                                <ul class="collapsible-section">
                                    <li><a href="#">HD
                                        Packs</a></li>
                                    <li><a href="#">Add-on
                                        Packs</a></li>
                                    <li><a href="#">Combo
                                        Packs</a></li>
                                </ul>
                            </div>

                            <div class="cell1 even">

                                <!-- The changes is here -->
                                <h4><a href="#">Voice</a></h4>
                                <ul class="collapsible-section">
                                    <li><a href="#">Digital
                                        Voice Home</a></li>
                                    <li><a href="#">Digital
                                        Voice Global</a></li>
                                    <li><a href="#">IDD</a></li>
                                </ul>

                                <!-- The changes is here -->
                                <h4><a href="#">Hubbing</a></h4>
                                <ul class="collapsible-section">
                                    <li><a href="#">HomeHub</a></li>
                                    <li><a href="#">HomeHub Go</a></li>
                                </ul>
                            </div>

                            <div class="cell1 odd">

                                <!-- The changes is here -->
                                <h4><a href="#">Support</a></h4>
                                <ul class="collapsible-section">
                                    <li><a href="#">StarHub Community</a></li>
                                    <li><a href="#">Feedback</a>
                                    </li>
                                    <li><a href="#">Contact Us</a>
                                    </li>
                                    <li><a href="#">Locate Us</a></li>
                                </ul>

                                <!-- The changes is here -->
                                <h4>
                                    <a href="#">Legal
                                        Notices &amp; Terms</a></h4>
                                <ul class="collapsible-section">
                                </ul>
                                <h4>Follow Us</h4>
                                <ul class="collapsible-section">

                                    <li><a href="http://www.facebook.com/starhub" class="fb-icon" target="_blank">Facebook</a>
                                    </li>


                                    <li><a href="https://twitter.com/starhub" class="twitter-icon" target="_blank">Twitter</a>
                                    </li>


                                    <li><a href="https://plus.google.com/+StarHub/posts" class="gplus-icon"
                                           target="_blank">Google+</a></li>

                                </ul>

                            </div>


                            <!--  <hr class="separator" />

                            <div class="social">
                                <div class="fb-like" data-href="https://www.starhub.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                                <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                            </div> -->
                            <div class="cell4">
                                <span class="copyright">© <span class="copyright-starhub">StarHub 2017</span>. All rights reserved. <div
                                        class="footer-legal"><a
                                        href="#">Personal
                                    Data Protection</a></div></span>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</footer>